@import "variables";
@import "components/layout";
@import "components/header";
@import "components/joke-preview-card";
@import "components/common";
@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}
