@import "variables";
@import "components/layout";
@import "components/header";
@import "components/joke-preview-card";
@import "components/common";
@import "components/textfield";
@import "components/selectfield";
@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

button {
    background: none;
    border: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}
