.joke-card {
    max-width: 600px;
    border-radius: 8px;
    padding: 19px 30px;
    height: max-content;
    background-color: $secondary;
    margin: 0 auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;

    &-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;
    }

    &-top {
        display: flex;
        justify-content: space-between;
    }

    &-content {
        font-size: 22px;
        font-weight: 800;
        color: $primary;
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        padding-top: 37px;
    }
}

.category-tag {
    display: flex;
    padding: 5px 9px;
    border-radius: 5px;
    background: rgba($color: $primary, $alpha: 0.2);
    margin: 0 3px;

    & p {
        color: $primary;
        font-weight: 600;
    }
}
